
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola mundo</title>
</head>
<body>

    <h1>
        Escaneador de recursos de el sistema
    </h1>
    <form action="/outhardware" method="post">
        <input type="submit" value="Empezar escaneo">  
    </form>
    <script src="js/socket.io.js"></script>
    <script src="js/logica.js"></script>
    <script src="/index.js"></script>
</body>
</html>